[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyyaml = "*"
xmltodict = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
invoke = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
